.back-color {
    background-color: #f8f9fa !important;
}

.fs-8 {
    font-size: 0.75rem;
}
.fs-7 {
    font-size: 0.9rem;
}
.fs-9{
    font-size: 1rem;
    font-weight: 800;
}
.fs-10{
    font-size: 1.2rem;
}