<!-- <footer class="text-center bg-light py-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="mb-1">&copy; 2024 Test Toeic</p>
                <p class="mb-1">Address: Ham Tu - Khoai Chau - Hung Yen</p>
                <p class="mb-2">Email: thang@example.com</p>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="text-decoration-none">Privacy Policy</a></li>
                    <li class="list-inline-item"><a  class="text-decoration-none">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer> -->


<div class="footer bg-silhouette ">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <img src="https://www.ets.org/content/dam/ets-org/logo/ETS.svg" alt="toeic" width="50px" height="50px">
                <img src="https://www.ets.org/content/dam/ets-org/logo/TOEIC.svg" alt="toeic" width="50px"
                    height="50px">
                <p>TOEIC® is a registered trademark of Educational Testing Service (ETS). This web is not affiliated
                    with or endorsed by Educational Testing Service.</p>
            </div>
            <div class="col-md-2">
                <h6>Về chúng tôi</h6>
                <a>Giới thiệu</a>
                <a>Liên hệ</a>
                <a>FAQ</a>
            </div>
            <div class="col-md-2">
                <h6>Chính sách</h6>
                <a>Điều khoản</a>
                <a>Quyền riêng tư</a>
                <a>Hướng dẫn thanh toán</a>
            </div>
            <div class="col-md-4 social-icons">
                <div class="row">
                    <div class="col-4">
                        <a><i class="fab fa-facebook-f"></i></a>
                    </div>
                    <div class="col-4">
                        <a><i class="fab fa-tiktok"></i></a>
                    </div>
                    <div class="col-4">
                        <a><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <a><i class="fab fa-pinterest-p"></i></a>
                    </div>
                    <div class="col-4">
                        <a><i class="fab fa-tumblr"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

