.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge-warning {
    color: #212529;
    background-color: #ffc107;
}
.badge-danger {
    color: #fff;
    background-color: #dc3545;
}
.badge-primary {
    color: #fff;
    background-color: #007bff; 
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d; 
}

.badge-info {
    color: #fff;
    background-color: #17a2b8; 
}

.badge-light {
    color: #212529;
    background-color: #f8f9fa;  
}

.badge-dark {
    color: #fff;
    background-color: #343a40; 
}


.accordion-button {
    background-color: #e7e7e7; /* Light gray background */
    color: #333; /* Dark text for better readability */
}

.accordion-button:not(.collapsed) {
    background-color: #d3d3d3; /* Slightly darker when expanded */
    color: #000;
}

.list-group-item {
    border-left: 3px solid #007bff; /* Add a blue left border to list items */
}
