
<div class="container mt-4">
    <div class="row align-items-center hero-section">
        <div class="col-md-6 text-center text-md-start py-5 px-5">
            <h2>Sẵn sàng <span class="span-custom">cho kỳ thi TOEIC!</span></h2>
            <p style="color: #535353;">Làm bài thi trên máy tính để đo lường điểm TOEIC của bạn và làm quen với hình
                thức thi thực tế.</p>
            <button class="btn btn-custom btn-outline-primary">MINI TEST</button>
            <button class="btn btn-custom btn-outline-primary">FULL TEST</button>
            <button class="btn btn-custom btn-outline-primary">EXAM SIMULATION</button>
        </div>
        <div class="col-md-6 d-none d-md-block">
            <img src="https://estudyme.com/_next/image/?url=%2Fimages%2Fapp%2Fenglish-test%2Fperson-group.png&w=640&q=100"
                alt="Student with Laptop" class="img-fluid">
        </div>
        <img src="https://estudyme.com/_next/image/?url=%2Fimages%2Fapp%2Fenglish-test%2Fframe-hat.png&w=128&q=100"
            alt="" class="img-background img-hat">
        <img src="https://estudyme.com/_next/image/?url=%2Fimages%2Fapp%2Fenglish-test%2Fframe-earth.png&w=96&q=100"
            alt="" class="img-background img-earth">
        <img src="https://estudyme.com/_next/image/?url=%2Fimages%2Fapp%2Fenglish-test%2Fframe-note.png&w=128&q=100"
            alt="" class="img-background img-note">
    </div>
</div>